<!-- submission.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylez.css">
    <title>Form Submission Confirmation</title>
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScpdLP7u2GfY9HQ4okjPg07PtKRKSbm-Iupg&usqp=CAU">
    <div class="container">
    <h1>Form Submission Confirmation</h1>

    <p>Form submitted successfully. Name: <%= name %>
        | In the eternal cycle of existence who but you will free your own soul? You are the master of your domain. <%= email %></p>
    </div>
</body>
</html>